// CANVAS
#purple {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

#blue {
  position: absolute;
  top: 400px;
  left: 0;
  z-index: 1;
}

#persona {
  position: absolute;
  top: 115px;
  right: 11%;
  z-index: 20;
}

#flame {
  position: absolute;
  margin-top: 68px;
}

#account {
  position: absolute;
  margin-top: 600px;
}

#add {
  position: absolute;
  margin-top: 615px;
  margin-left: 250px;
  cursor: pointer;
}

// HEADER

.d-flex {
  height: 100vh;
  width: auto;
  position: relative;
  background-color: #fff;
  z-index: 50;
}

header {
  width: 100%;
  height: 900px;
  display: grid;
  grid-template-columns: 1fr 1280px 1fr;
  z-index: -10;
}

#head_content {
  grid-column: 2;
}

.head_title {
  position: absolute;
  font-family: "Vidaloka", serif;
  font-size: 80px;
  line-height: 1;
  margin-top: 230px;
  color: #2b165b;
}

.head_text {
  position: absolute;
  font-family: "Avenir";
  font-size: 18px;
  margin-top: 420px;
  color: #7e7f9a;
}

// Main Lib CSS
.library {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1280px 1fr;
  grid-template-columns: 1fr 1280px 1fr;
  margin-bottom: 100px;
}
#Library {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 40px;
}
.main-book {
  margin: 10px;
  width: 180px;
  height: 285px;
  text-align: center;
  background: white;
  border-radius: 5px;
  position: relative;
}
.main-book {
  .main-book-cover,
  .main-book-cover-validity-one,
  .main-book-cover-validity-two {
    transition: all ease-in-out 0.15s;
  }
}
.main-book:hover .main-book-cover {
  transform: translate(5px, -5px);
  cursor: pointer;
}
.main-book:hover .main-book-cover-validity-one {
  margin-top: -3px;
  transform: rotate(-45deg) scaleX(1);
}
.main-book:hover .main-book-cover-validity-two {
  transform: rotate(-45deg) scaleX(1);
  right: -3px;
  bottom: 1px;
}
.main-book-cover {
  height: 220px;
  width: 180px;
  border: 1px solid #dbdada6b;
  position: relative;
  border-radius: 5px;
}
.main-book-author {
  font-family: "Avenir";
  font-size: 14px;
}
.valiView {
  height: 218px;
  width: 178px;
  position: absolute;
  border-radius: 5px;
  margin-left: 1px;
  margin-top: 1px;
}
.truevalidity {
  background: #00b900;
}

.falsevalidity {
  background: red;
}

.main-book-cover-validity-one {
  border-radius: 3px;
  width: 10px;
  height: 10px;
  margin-left: 1px;
}
.main-book-cover-validity-two {
  margin-top: -4px;
  border-radius: 3px;
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.titleText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Avenir";
  font-size: 16px;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

// New content button for add a book, should display a form on click

#addBookBtn {
  height: 70px;
  width: 70px;
  background-image: url("../../assets/book.png");
  background-position: center;
  background-size: cover;
  background-color: white;
  position: fixed;
  top: 10%;
  left: 5%;
  border-radius: 50%;
  border-color: #1f55b5;
  border-style: solid;
}
#addBookBtn:hover {
  box-shadow: 0 0px 6px rgba(33, 33, 33, 1);
  transform: scale(1.2);
}

// New content form for add a book

#addBookForm {
  width: 50%;
  height: 500px;
  padding: 30px 50px;
  border-radius: 10px;
  background: #2b165b;
  display: none;
  position: fixed;
  top: 20vh;
  left: 25%;
  z-index: 50;

  input {
    width: 550px;
    display: block;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
    background-color: #7e7f9a;
    padding: 15px 20px;
  }


  ::placeholder {
    color: #fff;
  }

  button {
    padding: 10px;
    border-radius: 3px;
    margin-top: 10px;
    background-color: #72dbd1;
    border: none;
  }
}

// New content report some error in a p
#report {
  color: red;
  font-style: italic;
  margin-top: 10px;
}

#validate {
  color: green;
  font-style: italic;
}

// New content close btn for hiding form

#closeFormBtn {
  position: relative;
  left: 95%;
}
.ant-divider-inner-text {
  font-size: 25px;
  font-family: "Avenir";
  margin-bottom: 50px;
}

#subNz {
  font-size: 30px;
}

#subNz{

  font-family: "Vidaloka", serif;
  color: #2b165b;
margin: 0;
margin-bottom: -5px !important;
margin-top: 16px !important;
}
#subNz2{
  margin-top: 12px;
}
.searchText {
  font-family: "Avenir" !important;
  font-size: 16px !important;
}
nz-affix {
  width: 100%;
  
}
.Search {

  background-color: #FFF9EE;
  margin-top: -19px !important;
}
#searchBar {
  display: flex;
  justify-content: center;
}

.Filters{
  margin-right: 10px;
margin-left: 10px;
}