/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Vidaloka&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}
